@model IEnumerable<CIS526_FinalAssignment.Models.Task>
@{
    ViewBag.Title = "Complete";
}

<h2>Complete Task</h2>
 
@foreach (var item in Model) {
    <p>
        
            @Html.DisplayFor(modelItem => item.taskName)

            @Html.Raw("Points:")
       
            @Html.DisplayFor(modelItem => item.pointTotal)
        
            @Html.DisplayFor(modelItem => item.isMilestone)

            @Html.Raw("Milestone Bonus:")
        
            @Html.DisplayFor(modelItem => item.milestoneBonus)
   

            @Html.ActionLink("Solve", "SolveTask", new { id=item.ID }) 

        
    </p>
}