@model IEnumerable<CIS526_FinalAssignment.Models.Task>
@{
    ViewBag.Title = "Complete";
}

<h2>CompleteTask</h2>
 
@foreach (var item in Model) {
    <p>
            @Html.DisplayFor(modelItem => item.taskName)
       
            @Html.DisplayFor(modelItem => item.pointTotal)
        
            @Html.DisplayFor(modelItem => item.isMilestone)
       
            @Html.DisplayFor(modelItem => item.milestoneBonus)
   

            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "SolveTask", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        
    </p>
}