@model CIS526_FinalAssignment.Models.Task

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Task</legend>

         <div class="editor-label">
            @Html.Raw("Task Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.taskName)
            @Html.ValidationMessageFor(model => model.taskName)
        </div>

        <div class="editor-label">
            @Html.Raw("Description")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.description)
            @Html.ValidationMessageFor(model => model.description)
        </div>

        <div class="editor-label">
            @Html.Raw("Point Total")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.pointTotal)
            @Html.ValidationMessageFor(model => model.pointTotal)
        </div>

        <div class="editor-label">
            @Html.Raw("Path")
        </div>
        <div class="editor-field">
            @Html.DropDownList("pathID", String.Empty)
            @Html.ValidationMessageFor(model => model.path)
        </div>

        <div class="editor-label">
            @Html.Raw("Start Date")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.startDate)
            @Html.ValidationMessageFor(model => model.startDate)
        </div>

        <div class="editor-label">
            @Html.Raw("End Date")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.endDate)
            @Html.ValidationMessageFor(model => model.endDate)
        </div>

        <div class="editor-label">
            @Html.Raw("Milestone?")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.isMilestone)
            @Html.ValidationMessageFor(model => model.isMilestone)
        </div>

        <div class="editor-label">
            @Html.Raw("Milestone Bonus")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.milestoneBonus)
            @Html.ValidationMessageFor(model => model.milestoneBonus)
        </div>

        <div class="editor-label">
            @Html.Raw("Solution")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.solution)
            @Html.ValidationMessageFor(model => model.solution)
        </div>

        <div class="editor-label">
            @Html.Raw("Icon File Name")
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.image)
            @Html.ValidationMessageFor(model => model.image)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

