@model CIS526_FinalAssignment.Models.Task

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>Task</legend>

    <div class="display-label">
         @Html.Raw("Task Name")
    </div>

    <div class="display-field">
        @Html.DisplayFor(model => model.taskName)
    </div>

    <div class="display-label">
         @Html.Raw("Description")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.Raw("Point Total")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pointTotal)
    </div>
    <div class="display-label">
         @Html.Raw("Path")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pathName)
    </div>

    <div class="display-label">
         @Html.Raw("Start Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.Raw("End Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         @Html.Raw("Milestone?")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isMilestone)
    </div>

    <div class="display-label">
         @Html.Raw("Milestone Bonus")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.milestoneBonus)
    </div>

    <div class="display-label">
         @Html.Raw("Solution")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.solution)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
