@model CIS526_FinalAssignment.Models.Task

@{
    ViewBag.Title = "Details";
}

<fieldset style="margin-top: 40px">
    <legend>@Html.DisplayFor(model => model.taskName)</legend>

    <div class="display-label">
         @Html.Raw("Description")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.description)
    </div>

    <div class="display-label">
         @Html.Raw("Point Total")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.pointTotal)
    </div>
    <div class="display-label">
         @Html.Raw("Path")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.path.pathName)
    </div>

    <div class="display-label">
         @Html.Raw("Start Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.startDate)
    </div>

    <div class="display-label">
         @Html.Raw("End Date")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.endDate)
    </div>

    <div class="display-label">
         @Html.Raw("Milestone?")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isMilestone)
    </div>

    <div class="display-label">
         @Html.Raw("Milestone Bonus")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.milestoneBonus)
    </div>

    <div class="display-label">
         @Html.Raw("Icon File Name")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.image)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
