@using System.Web.Optimization
@model CIS526_FinalAssignment.Models.Player

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Player</legend>

    <div class="display-label">
         @Html.Raw("Username")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.username)
    </div>

    <div class="display-label">
         @Html.Raw("Password")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.password)
    </div>

    <div class="display-label">
         @Html.Raw("Total Score")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.totalScore)
    </div>

    <div class="display-label">
         @Html.Raw("Frozen")
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.isFrozen)
    </div>
    <div class="display-label">
         @Html.Raw("Completed Tasks")
    </div>
    <div>
        @Html.Partial("PlayerTaskPartial", Model)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

@section Scripts {
    @Scripts.Render("~/bundles/Player")
}