@using System.Web.Optimization
@model IEnumerable<CIS526_FinalAssignment.Models.Player>

@{
    ViewBag.Title = "Index";
}

<h2>Players</h2>

<p>
    @Html.ActionLink("Create New", "Create") 
</p>
<table>
    <tr>
        <th>
            @Html.Raw("Username")
        </th>
        <th>
            @Html.Raw("Password")
        </th>
        <th>
            @Html.Raw("Total Score")
        </th>
        <th>
            @Html.Raw("Frozen?")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.username)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.password)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalScore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.isFrozen)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>

    <h2>
        @Html.Raw("Admin Altered Players")
    </h2>
    <p>
        @Html.Partial("ChangedPlayerPartial", Model.First())
    </p>

<p>@Html.ActionLink("Manage Tasks", "Index", "Task")  </p>

@section Scripts {
    @Scripts.Render("~/bundles/ChangedPlayers")
}

