@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/ui-darkness/jquery-ui.css" />
    @Styles.Render("~/Content/css")
</head>
<body>

    <div id="wrapper">
        <div id="header">
            <div id="nav" style="float: right">
                @Html.ActionLink("Leaderboards", "Index", "Leaderboard") | @Html.ActionLink("Players", "Index", "Player") | @Html.ActionLink("Tasks", "Index", "Task") |  @Html.ActionLink("My Profile", "Details", "Player", new { id = -1 }, null) | @Html.ActionLink("Complete a Task", "Complete", "Task") 
            </div><br />
            <div id="authenticate" style="float: right">
                 @Html.Partial("LoginPartial")
            </div>
        </div>
        @RenderBody()
    </div>

@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryui")
@Scripts.Render("~/bundles/knockout")
@RenderSection("scripts", required: false)

</body>
</html>
